.header{
    height:47px;
    position: relative;

  .mint-button-icon{
      color: black;
      position: relative;
      
  }
  #wawa{
      position: absolute;
      top:50%;
      transform: translate(0,-50%)
  }  
}

.mintui-back:before {
    /* content: "\E600"; */
    font-size: 43px;
    color: #666666;
     
}
.mint-header-button{
   -webkit-box-flex: none;

    flex: none;
}
.mint-header-title{
    
float:left
}
.mint-header{
line-height: 40px;
background-color: #f2f2f2;
}
 
.font{
     color: black;
 }
    
    /* 收货地址 */
    .h_location{
        /* line-height: 56px; */
        box-sizing: content-box;

        padding: 15px 20px;
        overflow: hidden;
        border-top:1px solid #cccccc;
        border-bottom:1px solid #cccccc;
        margin-top:12px;
        position: relative;
        // font-size: 12px;
        display: -webkit-flex;
        
        
    }

    .h_location_left{
        // float:left;
        flex: 3;
        font-size: 12px;

    }
    .h_location_right{
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        border: 1px solid #cccccc;
        border-radius: 45%;
        font-size: 12px;
        color: black;
        position: absolute;
        top:50%;
        right:0px;
        transform: translate(-50%,-50%)
    
    }
    p{
        margin:0px;
    }

    /* 配送清单 */
    .inventory_one{
        border-bottom: 1px solid #cccccc;

    }
    .inventory_one span{
        float: left;
        font-size: 14px;
    }

    .inventory_one a{
        display: inline-block;
        width: 88px;
        line-height: 22px;
        float:right;
        text-decoration:none;
        border-radius:45px;
        background-color: #ffff00;
        text-align: center;
        color:#333333;
        font-size: 12px;
     
    }
    /* 这里需要清除浮动、 */
  .inventory_one{
 overflow: hidden;
 margin-top:10px;
  }
  /* 娃娃的数据详情就是配送清单下面 */
  .inventory_two img{
      display: inline-block;
      background-color: red;
      width: 48px;
      height: 48px;

  }
  .inventory ul li {
     position: relative;
     width:100%;li{
            box-sizing: content-box;
            margin-top:20px;
            padding-left:34px;
            padding-right:34px;
            position:relative;
           
            img{
                display: inline-block;
                width: 26px;
                height: 26px;
                background-color: #91e358;
                position: absolute;
                top:50%;
                // left:50%;
                transform:translate(0,-50%);
                
                
                
            }
            p{
                display: inline-block;
                line-height: 34px;
                margin-left:30px;
            }
            i{
                display: inline-block;
                float: right;
                box-sizing: content-box;
                line-height: 34px;
                span{
                    display: inline-block;
                    width: 14px;
                    line-height: 14px;
                    text-align: center;
                    border:1px solid red;
                    border-radius: 45%;
                    background-color: #ffff00;
                    margin-right:6px;

                }
            }
        }
     font-size: 12px;
     
  }
  .inventory ul li img{
      display: inline-block;
    //   position: absolute;
    //   top:0px;
    //   left:0px;
      width: 40px;
      height: 40px;
      background-color: #59c0fb;
      float: left;
  }
   .inventory ul li  div{
    display: inline-block;
    //    width:100%;
    //    padding-left:40px;
    float:right;

   }
   .inventory ul li  div p {
       /* text-align: center; */
       margin-left:10px;
   }
  li{
       list-style-type:none;
       padding-top:7px;
       
  }
    .inventory ul{
        padding: 0px;
    }
    .inventory{
        overflow: hidden;
    }


// 配送费
.fee{
    // position: relative;
    border-bottom:1px solid red;
    overflow: hidden;
    margin-top:10px;
    
    p{
 
        float: left;
        font-size: 14px;
    }
    span{
        float:right;
        font-size: 14px;
    }
}
.wx_fee{   
    overflow: hidden; 
    margin-top:10px;  
    position: relative;
        img{
            display: inline-block;
            width: 26px;
            height: 26px;
            background-color: #91e358;
            position: absolute;
            top:50%;
            // left:50%;
            transform:translate(0,-50%);                                   
        }   
        p{
            display: inline-block;
            // float: right;
            box-sizing: content-box;
            line-height: 34px;
            margin-left:50px;
        }
        i{
            display: inline-block;
            float: right;
            box-sizing: content-box;
            line-height: 34px;
            font-weight: bold;
    }
}

.btn{
    width: 166px;
    line-height: 48px;
    margin:0 auto;
    text-align: center;
    border-radius: 45px;
    background-color: #ffff00;
    position: absolute;
    bottom:50px;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    color: black;
    // display: flex;

}
.hehe{
  display: inline-block;
//    margin:0 auto;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
  .haha{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    // margin:0 auto;
    display: block;
    border-radius:14px;
    span{
        font-size: 12px;
        margin-top: 50%;
        
    };
    p{
        font-size: 12px;
    }
 }
 
}
.ppp{
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    // z-index: 9999;
}


.overlayer{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:10;
    display: none;
}
.aaa{
   width: 200px;
   height:200px;

}
.mint-popup{
    border-radius:30px;
}
